{% extends "admin/base.html" %}
{% load static %}

{% block title %}AMBIKA | {{ site_title|default:_("Django site admin") }}{% endblock %}

{% block branding %}
<div id="site-name" class="ambika-branding">
    <img src="{% static 'ambika-logo.png' %}" alt="Ambika" class="ambika-logo">
    <span class="ambika-text">AMBIKA</span>
</div>
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'admin_custom.css' %}">
{% endblock %}

{% block nav-global %}
{{ block.super }}
<div class="ambika-admin-shortcuts" style="padding: 8px 16px;">
    <a href="{% url 'product_import' %}" class="button">Import Products</a>
    <a href="{% url 'daily_report_download' %}" class="button">Download Today Report</a>
    <a href="{% url 'sales_summary' %}" class="button">Sales Summary</a>
  </div>
{% endblock %}

